<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rydaire_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{700,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,150}}</string>
                <key>sourceSize</key>
                <string>{700,150}</string>
            </dict>
            <key>rydaire_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{700,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,150}}</string>
                <key>sourceSize</key>
                <string>{700,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rydaire.png</string>
            <key>size</key>
            <string>{700,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8f4931b1403011da8282277911232ad:fe9d84d8c79891873f5931e309bb3768:7ca8ccf8ce2ba83e6b2070d9c7ee463a$</string>
            <key>textureFileName</key>
            <string>rydaire.png</string>
        </dict>
    </dict>
</plist>
