<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>bonus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>death_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>money_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>time_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>between_screen_spritesheet.png</string>
            <key>size</key>
            <string>{375,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:878561e1be34221020890dc2d2ba4f67:bf80d6616493e475d8f74c9b6450edda:5e8ddcc7dd80b0f33d96fae7df40bb1f$</string>
            <key>textureFileName</key>
            <string>between_screen_spritesheet.png</string>
        </dict>
    </dict>
</plist>
