<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_explosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>bullet_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_spritesheet.png</string>
            <key>size</key>
            <string>{300,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5bc4adf63b201f6c5c0d9fcb381b38:d1986d8669b4825f897143df80087ef8:2bc317846884cd16482b957e0f119efb$</string>
            <key>textureFileName</key>
            <string>bullet_spritesheet.png</string>
        </dict>
    </dict>
</plist>
